*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html , body{
    height:100%;
    display: grid;
    place-items: center;
    background: #f679a8;
}
.wrapper
{
    display:flex;
    height: 200px;
    width:600px;
    align-items: center;
    justify-content: center;
}
.wrapper .right
{
    background:#fff;
    
}

    
